<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('home') }}"><i class="fa fa-home"></i> {{ installation_name }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a class="link" href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw fa-lg"></i> Logout {{ app.user.username }}</a></li>
            <li><a href="{{ path('add_game') }}"><i class="fa fa-plus fa-fw fa-lg"></i> Spiel eintragen</a></li>
                {% if (app.session.get('schedule') == null ) %}
            <li><a href="{{ path('scheduling') }}"><i class="fa fa-th-list fa-flip-horizontal fa-fw fa-lg"></i> Spielplan erstellen</a></li>
                {% else %}
            <li><a href="{{ path('scheduling') }}"><i class="fa fa-th-list fa-flip-horizontal fa-fw fa-lg"></i> Spielplan</a></li>
            <li><a href="{{ path('schedule_flush') }}"><i class="fa fa-undo fa-fw fa-lg"></i> Spielplan zurücksetzen</a></li>
                {% endif %}
            {% else %}
            <li><a href="{{ path('login') }}"><i class="fa fa-sign-in fa-fw fa-lg"></i> Login</a></li>
            {% endif %}
            <li><a href="{{ path('ranking') }}"><i class="fa fa-trophy fa-fw fa-lg"></i> Ranking</a></li>
            <li><a href="{{ path('results') }}"><i class="fa fa-list-alt fa-fw fa-lg"></i> Ergebnisse</a></li>
        </ul>
    </div>
</div>