{% extends 'AppBundle::layout.html.twig' %}

{%- block body -%}
<div class="row">
    <h4 class="col-xs-12">Ergebnisse vom {{ date }}:</h4>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-condensed">
            <tbody>
            {% for game in games %}
                <tr>
                    <td>
                        <span class="box {% if game.team_a_score > game.team_b_score %}box-success{% else %}box-danger{% endif %}">{{ game.name_player_a_team_a }}</span>
                    </td>
                    <td>
                        <span class="box {% if game.team_a_score > game.team_b_score %}box-success{% else %}box-danger{% endif %}">{{ game.name_player_b_team_a }}</span>
                    </td>
                    <td>
                        <span class="box {% if game.team_a_score < game.team_b_score %}box-success{% else %}box-danger{% endif %}">{{ game.name_player_a_team_b }}</span>
                    </td>
                    <td>
                        <span class="box {% if game.team_a_score < game.team_b_score %}box-success{% else %}box-danger{% endif %}">{{ game.name_player_b_team_b }}</span>
                    </td>
                    <td>
                        <span style="padding-top: 1px; display: block;">{{ game.team_a_score }} : {{ game.team_b_score }}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'AppBundle::pagination.html.twig' %}

{%- endblock -%}